<div class="card col-3 m-2" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">@Bookdto.Title</h5>
    <p class="card-text">@Bookdto.Description</p>
    @foreach(var Author in Bookdto.Author){
      <p class = "card-text">@Author.Name</p>
    }
      <span>@Bookdto.CreatedAt</span>
      <br>
     <button @onclick="DeleteBook" class="btn btn-danger">Delete</button>
    <button  @onclick = "(()=> EditBook(Bookdto))"class="btn btn-primary">Edit</button>

  </div>
</div>

@code{
    [Parameter]
    public BookDto Bookdto {get; set; } 
    [Parameter]
    public EventCallback<Guid> DeleteId {get; set; }

    [Parameter]
    public EventCallback<BookDto> OnEditBook{get; set;}

    public async Task DeleteBook(){
        await DeleteId.InvokeAsync(Bookdto.Id);
    }
    public async Task EditBook(BookDto editDto){
        await OnEditBook.InvokeAsync(editDto);
    }
}